[Unit]
Description=etcd
Documentation=https://github.com/etcd-io/etcd

[Service]
Type=notify
ExecStart=/usr/local/bin/etcd \
  --name {{ ansible_hostname }} \
  --cert-file={{ etcd_cert_dir }}/server.crt \
  --key-file={{ etcd_cert_dir }}/server.key \
  --peer-cert-file={{ etcd_cert_dir }}/peer.crt \
  --peer-key-file={{ etcd_cert_dir }}/peer.key \
  --trusted-ca-file={{ etcd_cert_dir }}/ca.crt \
  --peer-trusted-ca-file={{ etcd_cert_dir }}/ca.crt \
  --peer-client-cert-auth \
  --client-cert-auth \
  --initial-advertise-peer-urls https://{{ ansible_default_ipv4.address }}:2380 \
  --listen-peer-urls https://{{ ansible_default_ipv4.address }}:2380 \
  --advertise-client-urls https://{{ ansible_default_ipv4.address }}:2379 \
  --listen-client-urls https://{{ ansible_default_ipv4.address }}:2379,https://127.0.0.1:2379 \
  --initial-cluster-token k8s_etcd \
  --initial-cluster {% for host in groups['etcd'] -%}
ip-{{ host | regex_replace('\.', '-') }}=https://{{ host }}:2380{% if not loop.last %},{% endif %}
{%- endfor %} \
  --data-dir={{ etcd_data_dir }} \
  --initial-cluster-state {{ etcd_initial_cluster_state | default('new') }}
Restart=on-failure
RestartSec=5
User={{ etcd_owner }}
Group={{ etcd_owner }}

[Install]
WantedBy=multi-user.target
