[Unit]
Description=Pin all IRQs to CPU0
After=multi-user.target

[Service]
Type=oneshot
ExecStart=-/bin/bash -c 'for irq in /proc/irq/*/smp_affinity; do echo 1 > $irq; done'
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
