---
apiVersion: kubelet.config.k8s.io/v1beta1
kind: KubeletConfiguration
{% if system_reserved_resources is defined and system_reserved_resources -%}
systemReserved:
{{ system_reserved_resources
   | to_nice_yaml(indent=2, sort_keys=False)
   | indent(2, true)
}}
{%- endif %}